# Ignore build output
**/bin/
**/obj/

# Visual Studio / VS Code cruft
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
*.dll
*.pdb
*.cache
*.log

# Test results
TestResult*/
*.coverage
